* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-items {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px;
}

.header-item {
    font-size: 1.5rem;
    text-transform: capitalize;
    text-align: center;
    padding: 10px;
    border: 1px dashed whitesmoke;
    border-radius: 10px;
    background: wheat;
    flex-basis: 300px;
    cursor: pointer;
}

.header-item-selected {
    background: goldenrod;
    color: white;
    font-weight: bold;
    border: none;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.product {
    flex-basis: 400px;
    padding: 10px;
    border: 1px dotted goldenrod;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.product img {
        height: 200px;
        object-fit: contain;
    }

.product-title {
    font-size: 1.3rem;
}

.error {
    color: red;
    font-size: 1.2rem;
    padding: 10px;
}