.App {
  margin: 1rem;
}

.category-list {
  display: flex;
  font-size: 1.7rem;
  flex-wrap: wrap;
}

.category {
  background: wheat;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  min-width: 250px;
  text-align: center;
  text-transform: capitalize;
}

.category-selected {
  background: yellowgreen;
}

.product-list {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.product {
  border: 1px dashed darkkhaki;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  width: 300px;
  font-size: 1.3rem;
}

.product img {
  width: 250px;
  height: 250px;
}

.product-price {
  font-weight: bold;
  color:blue
}